@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply
    leading-normal
    tracking-normal
    font-sans
    antialiased
    overflow-x-hidden
    bg-primary

    dark:bg-wash-dark-2
}

.github-dark {
    padding: 10px;
}

[data-rehype-pretty-code-fragment] {
    width: 100%;
}