@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    @apply
    leading-normal
    tracking-normal
    font-sans
    antialiased
    overflow-x-hidden bg-primary dark:bg-wash-dark-2
}

.font-poppins {
    font-family: var(--font-poppins);
}

.font-noto-sans {
    font-family: var(--font-noto-sans);
}

.github-dark {
    padding: 10px;
}

[data-rehype-pretty-code-fragment] {
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

.background-animate {
    background-size: 800%;
    -webkit-animation: backgroundAnimate 10s ease infinite;
    -moz-animation: backgroundAnimate 10s ease infinite;
    animation: backgroundAnimate 10s ease infinite;
}

@keyframes backgroundAnimate {
    0%,
    100% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}